<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
			http://www.springframework.org/schema/beans/spring-beans.xsd
            http://www.springframework.org/schema/context
			http://www.springframework.org/schema/context/spring-context.xsd">

    <!--引入配置属性文件 -->
    <context:property-placeholder location="classpath:config.properties"/>

    <bean id="jedisPoolConfig" class="redis.clients.jedis.JedisPoolConfig"/>

    <!-- redis的连接池pool，不是必选项：timeout/password  -->
    <bean name="jedisPool" class="redis.clients.jedis.JedisPool">
        <constructor-arg index="0" ref="jedisPoolConfig"/>
        <constructor-arg index="1" value="${redis.master.host}" type="java.lang.String"/>
        <constructor-arg index="2" value="${redis.master.port}" type="int"/>
    </bean>

</beans>