<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="pers.corgiframework.dao.mapper.SysCategoryMapper">
  <resultMap id="BaseResultMap" type="pers.corgiframework.dao.domain.SysCategory">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="category_name" jdbcType="VARCHAR" property="categoryName" />
    <result column="category_weight" jdbcType="INTEGER" property="categoryWeight" />
    <result column="category_type" jdbcType="INTEGER" property="categoryType" />
    <result column="category_pic" jdbcType="VARCHAR" property="categoryPic" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, category_name, category_weight, category_type, category_pic, create_time, update_time
  </sql>
  <select id="selectByExample" parameterType="pers.corgiframework.dao.domain.SysCategoryExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from sys_category
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sys_category
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from sys_category
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="pers.corgiframework.dao.domain.SysCategory">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into sys_category (category_name, category_weight, category_type, 
      category_pic, create_time, update_time
      )
    values (#{categoryName,jdbcType=VARCHAR}, #{categoryWeight,jdbcType=INTEGER}, #{categoryType,jdbcType=INTEGER}, 
      #{categoryPic,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="pers.corgiframework.dao.domain.SysCategory">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into sys_category
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="categoryName != null">
        category_name,
      </if>
      <if test="categoryWeight != null">
        category_weight,
      </if>
      <if test="categoryType != null">
        category_type,
      </if>
      <if test="categoryPic != null">
        category_pic,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="categoryName != null">
        #{categoryName,jdbcType=VARCHAR},
      </if>
      <if test="categoryWeight != null">
        #{categoryWeight,jdbcType=INTEGER},
      </if>
      <if test="categoryType != null">
        #{categoryType,jdbcType=INTEGER},
      </if>
      <if test="categoryPic != null">
        #{categoryPic,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="pers.corgiframework.dao.domain.SysCategory">
    update sys_category
    <set>
      <if test="categoryName != null">
        category_name = #{categoryName,jdbcType=VARCHAR},
      </if>
      <if test="categoryWeight != null">
        category_weight = #{categoryWeight,jdbcType=INTEGER},
      </if>
      <if test="categoryType != null">
        category_type = #{categoryType,jdbcType=INTEGER},
      </if>
      <if test="categoryPic != null">
        category_pic = #{categoryPic,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="pers.corgiframework.dao.domain.SysCategory">
    update sys_category
    set category_name = #{categoryName,jdbcType=VARCHAR},
      category_weight = #{categoryWeight,jdbcType=INTEGER},
      category_type = #{categoryType,jdbcType=INTEGER},
      category_pic = #{categoryPic,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <!-- 查询条件 -->
  <sql id="sqlCondition">
    <if test="categoryName != null">
      AND category_name LIKE CONCAT('%', #{categoryName}, '%')
    </if>
    <if test="categoryType != null">
      AND category_type = #{categoryType,jdbcType=INTEGER}
    </if>
  </sql>

  <select id="selectListByCondition" parameterType="java.util.Map" resultMap="BaseResultMap">
    SELECT * FROM sys_category WHERE 1=1
    <include refid="sqlCondition" />
    ORDER BY category_type ASC, category_weight ASC, create_time DESC
    limit #{currentPage}, #{pageCount}
  </select>

  <select id="selectListCountByCondition" parameterType="java.util.Map" resultType="int">
    SELECT count(*) FROM sys_category WHERE 1=1
    <include refid="sqlCondition" />
  </select>

</mapper>